html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    background-color: #F0F8FF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-shadow:0 0 10px black;
    border: 1px solid #00BFFF;

    h2 {
        color: #00BFFF;
    }

    input {
        padding: 10px;
        border-radius: 10px;
        margin: 5px;
        outline: none;
        border: 1px solid #00BFFF;
        box-shadow:0 0 5px black;
    }

    button {
        padding: 5px;
        border-radius: 5px;
        border: none;
        background-color: #00BFFF;
        color: white;
        font-weight: bold;
    }
}